*{
	font-family: 'Josefin Sans', sans-serif;
}
body{margin: 0;}


/*css of heading part*/

.boxs{
	position: relative;
	display: inline-block;
}

.leftbox{
	left:5vw;
}

.rightbox{
	left:78vw;
}

.box{
	width: 1.5vw;
	height: 1.5vw;
	background-color: #FFCB00;
	margin:3vh 1.5vh 0 0;
	display: inline-block;
	opacity: 0.5;
}

.boxdark{
	opacity: 1;
}


/*css of main landing*/

.landing{
	position: absolute;
	left: 0;
	top: 0;
	width: 99vw;
	height: 100vh;
	background: url(../img/1.jpg) no-repeat center center fixed;
	background-size: cover;
	color:white;
}

.title{
	margin: 14vh auto auto 8vw;
	font-size: 4vw;
	font-weight: 300;
}

.menu{
	position: relative;
	top: 8vh;
}

.menu div{ 
	margin-bottom: 4vh; 
	width: 45vw;
	height: 1.3vh;
	padding-left: 14vw;
}
.menu h1{
	font-size: 1.3vw;
	font-weight: 300;
}

.menu div:hover{ 
	background-color: #FFCB00;
/*	cursor: pointer;*/
	opacity: 0.5
}
.menu h1:hover{ 
	color:black; 
	font-weight: 600;
}

/*css of decorations*/
.landingbox{
	position: absolute;
	top:38.2vh;
	left: 59vw;
	width: 40.1vw;
	height: 106vh;
	background-color: #FFCB00;
	opacity: 0.5;
	z-index: 2;
}

.schoolbox{
	position: absolute;
	top:130vh;
	left: 0vw;
	width: 99.1vw;
	height: 34vh;
	background-color: #FFCB00;
	opacity: 0.3;
	z-index: 2;
}

.deco-line{
	position: absolute;
	top:143.2vh;
	left: 14vw;
	width: 45vw;
	height: 1vh;
	background-color: #FFCB00;
	opacity: 0.5;
	z-index: 2;
}

.deco-right{
	position: absolute;
	top: 70vh;
	right: 0px;
	width: 55vw;
	height: 162vh;
	background: url(../img/2.png) no-repeat center center fixed;
	background-size: cover;

}

/*css of ABOUT part*/
.main{
	position: absolute;
	top:110vh;
	left: 14vw;
	z-index: 3;
}

.main h1{
	font-size: 1.8vw;
	font-weight: 500;
}


.main h2{
	font-size: 1.2vw;
	font-weight: 400;
	margin: 4vh auto auto auto;
}

.main h3{
	font-size: 1.2vw;
	font-weight: 500;
	margin: 12vh auto auto auto;
}


.main h4{
	font-size: 1vw;
	font-weight: 300;
	margin: 1vh auto auto auto;
}

.main h5{
	font-size: 0.8vw;
	font-weight: 500;
	margin: 1.2vh auto auto auto;
}

.main .school{
	display: inline-block;
	width: 30vw;
}

.school-right{margin: auto auto auto 16vw;}

.main h6{
	font-size: 1vw;
	font-weight: 400;
	margin: 16vh auto auto auto;
}

.main .link{
	position: relative;
	left: 30vw;
	top: 16vh;
	background-color: #FFCB00;
	opacity: 0.5;
	text-align: center;
	width: 55.1vw;
	padding: 4vh 0 4vh 0;
	color: black;
	}	

a{	
	width:0;
	height: 0; 
	text-decoration:none;}

.music p{
	text-align: center;
	width: 13vw;
	margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.music .band{
	font-size: 1.2vw;
	font-weight: 400;
	height: 2.5vh;
}

.music .music-title{
	font-size: 1vw;
	font-weight: 300;
	height: 2.5vh;
}

.music img{
	width: 13vw;
	height: 13vw;
	border-radius: 1vw;
	margin: 6vh auto 1.5vh auto;
}

.end p{
	text-align: center;
	display: inline-block;
	width: 10vw;
	position: relative;
	left: 36vw;
	color: white;
	top: 2vh;
	margin: 0.5vh auto 0 auto;
	}	

.info p{
	margin: 18vh auto 0 auto;
	}

.end  .ins{margin-left: 24vw;}
.end  .inspiration{margin-left: 24vw;}

.bg{
	position: relative;
	left: 30vw;
	top: 28vh;
	background-color: #FFCB00;
	opacity: 0.4;
	width: 55.1vw;
	height: 30vh;
}

.music{position: absolute;}
